# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Asia/Kolkata

# PostgreSQL
DB_NAME=smarterp
DB_USER=postgres
DB_PASSWORD=your-postgresql-password
DB_HOST=localhost
DB_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
CELERY_TASK_ALWAYS_EAGER=False

CELERY_LOW_STOCK_MONITOR_INTERVAL_SECONDS=300
LOW_STOCK_NOTIFICATION_COOLDOWN_HOURS=24
CELERY_RESULT_EXPIRES=3600